<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dogão do Zé</title>
    <link rel="stylesheet" href="../public/style.css">
</head>
<body>
    <header>
        <h1>Dogão do Zé</h1>
    </header>
    <main>
        <div class="content">
            <div class="infos_pedido">
                <p>Cachorro Quente Básico</p>
                <div class="right">
                    <span>R$22,00</span>
                    <input type="number" id="cqb-q" value="0" min="0" step="1" data-index="0">
                </div>
            </div>
            <div class="infos_pedido">
                <p>Cachorro Quente Duplo</p>
                <div class="right">
                    <span>R$26,00</span>
                    <input type="number" id="cqd-q" value="0" min="0" step="1" data-index="1">
                </div>
            </div>
            <div class="infos_pedido">
                <p>X-Salada</p>
                <div class="right">
                    <span>R$29,00</span>
                    <input type="number" id="xs-q" value="0" min="0" step="1" data-index="2">
                </div>
            </div>
            <div class="infos_pedido">
                <p>Refrigerante 350ml</p>
                <div class="right">
                    <span>R$5,00</span>
                    <input type="number" id="r350-q" value="0" min="0" step="1" data-index="3">
                </div>
            </div>
            <div class="infos_pedido">
                <p>Refrigerante 1L</p>
                <div class="right">
                    <span>R$8,00</span>
                    <input type="number" id="r1-q" value="0" min="0" step="1" data-index="4">
                </div>
            </div>

            <div class="total-container">
                <p>Total: R$<span id="total">0,00</span></p>
            </div>
        </div>
    </main>

    <script src="../public/script.js"></script>
</body>
</html>