<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bhaskara</title>
    <link rel="stylesheet" href="../public/style.css">
</head>
<body>

    <div class="container">

        <div class="header">
            <h1>🌸 Bhaskara 🌸</h1>
        </div>

        <div class="input-group">
            <input type="number" id="A" placeholder="Valor de A">
            <input type="number" id="B" placeholder="Valor de B">
            <input type="number" id="C" placeholder="Valor de C">
            <button class="button" onclick="calcBhaskara()">Calcular ✨</button>
        </div>

        <div class="results">
            <p>X1: <span id="x1">♡</span></p>
            <p>X2: <span id="x2">♡</span></p>
        </div>

    </div>

    <script src="../public/script.js" defer></script>
</body>
</html>