<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calcule seu IMC</title>
    <link rel="stylesheet" href="../public/style.css">
</head>
<body>
    <main>
        <header>
            <h1>Calcule seu IMC</h1>
        </header>

        <div class="content">
            <div class="form">
                <p>Digite suas informações</p>
                <input type="number" name="kg" id="kg" placeholder="Peso (kg)">
                <input type="number" name="m" id="m" placeholder="Altura (m)">
                <button onclick="calcular()">Calcular</button>
            </div>
    
            <div class="result">
                <p><strong>IMC</strong>: <span id="result-number">____</span></p>
                <p><strong>Análise</strong>: <span id="result-text">____</span></p>
            </div>
        </div>

        <footer><p><strong>Pietro Diosti Ferrarezi</strong></p></footer>
    </main>

    <script src="../public/script.js"></script>
</body>
</html>